/* ==================== Global ==================== */
:root {
    --primary: #266DD3;
    --secondary: #003459;
    --bright: #00A7E1;
    --dark: #00171F;
    --white: white;
    --lightgray: lightgray;
    --gray: #888;
}

body {
    margin: 0;
}

* {
    font-family: 'Quicksand', sans-serif;
}

.red {
    color: red !important;
}

/* ==================== Animations ==================== */
.width-appear {
  width:0 !important;
  opacity: 0.01;
}

.width-appear.width-appear-active {
  opacity: 1;
  width: 400px !important;
  transition: all 300ms ease-out;
}

.opacity-enter,
.opacity-appear {
  opacity: 0.01;
}

.opacity-enter.opacity-enter-active,
.opacity-appear.opacity-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.opacity-exit {
  opacity: 1;
}

.opacity-exit.opacity-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}