html {
	background-color: whitesmoke;
}

* {
	font-family: monospace;
}

.example-appear {
  width:0 !important;
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  width: 400px !important;
  transition: all 300ms ease-out;
}

.timeBar-appear {
	width:0 !important;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.appContainer {
	display: flex;
	justify-content: center;
	padding-top: 70px;
}

.blockDate {
	display: none;
	color: #123;
	position: relative;
	top: -70px;
	left: 45px;
}
button {
	border: 1px solid #16d;
	background-color: #16d;
	border-radius:  0 10px 10px 0;
	width: 127px;
	height:45px;
	padding: 0px;
	color: #fff;
	transition: all 200ms ease-in-out;
}

.saveContainer {
	padding-left: 150px;
	margin-top: 30px;
}

button:hover {
	background-color: #888;
	border: 1px solid #888;
}

.subtitle {
	margin-top: 20px;
	font-size: 12pt;
}

.header div {
	font-family: 'Cutive Mono', monospace;
	
}
.header {
	color: #16d;
	font-size:56pt;
	padding-bottom: 30px;
	padding-top:30px;
	background-color: #fff;
	border-bottom: 3px solid #16d;
	margin:auto;
	text-align: center;
}

.history {
	margin-left: -40px;
}

.nextWordContainer.save button {
	border-radius: 10px;
	width:100%;
}

.nextWordContainer.save {
	padding: 0;
	margin-left:0;
	width: unset;
	margin: 10px 0;

}

.showSubmissions {
	margin-left: 40px;
}

.link {
	color: #888;
	cursor: pointer;
}

.showHistory {
	margin-bottom: 20px;
	margin-left: 40px;
}

.link:hover {
	color: #16d;
}

.showSubmissions.border {
	content: 'Hide';
}
.history.border {
	margin-left: 0;
}

.wordStreamInner {
	padding-left: 40px;
	
}
.wordStreamInner.border {
	border-left: 2px solid lightgray;
}

.wordFactory {
	padding-left: 30px;
	margin-top: -60px;
	margin-right: 40px;
}

.word {
	width: 100%;
	line-height: 30px;
	text-align: left;
	padding: 10px 20px;
	height: 30px;
	background-color:#fff;
	color: black;
	border-radius: 10px 0 0 10px;
}


.publishedWordContainer {
	display: flex;
	margin:0 0 10px;
	border-radius: 10px;
}
.nextWordContainer {
	display: flex;
	justify-content: space-between;
	padding-right:20px;
	margin-bottom: 30px;
	margin: 50px 0 10px;
	width: 460px;
	padding-left: 40px;
}
.nextWord {
	color: black;
	background-color: #fff;
	height: 45px;
	line-height: 45px;
	width: 355px;
	box-sizing: border-box;
	border-radius: 10px;
	transition: all 200ms ease-in-out;
}

.submittedWords {
	padding-top: 20px;
	width: 400px;
}

.submittedWordContainer {
	background-color: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
	margin:10px 0;
}

.submittedWord {
	color: black;
	padding: 10px 20px;
	width: 100%;
	height: 23px;
	line-height: 28px;
	
	text-align: center;
	cursor:pointer;
	transition: all 200ms ease-out;
	position: relative;

	border-bottom: 7px solid #fff;
	border-radius: 0 10px 10px 0;
}

.submittedWordContainer:hover > .submittedWord {
	background-color: #16d;
	color: white;
	transition: none;
}

.progressBar {
	height: 4px;
	border: 2px dashed #16d;
	box-sizing: border-box;
	transition: width 200ms ease-out;
}

.votingBar {
	width: 20px;
	background-color: #16d;
	height: 20px;
	margin-top: 20px;
}

.voteCount {
	padding: 0 15px;
	background-color: #16d;
	color: white;
	height: 50px;
	line-height: 50px;
	width:35px;
	text-align: center;
	border-radius: 10px 0 0 10px;
}

.date {
	padding: 0 15px;
	background-color: white;
	color: #888;
	height: 50px;
	line-height: 50px;
	width:100px;
	text-align: center;
	border-radius: 0 10px 10px 0;
}

.timeBar {
	margin-top: -3px;
	box-sizing: 3px;
	width: 75%;
	border-bottom: 3px solid lightgray;
	transition: width 1500ms ease-out;
}

.votingBar2 {
	position: absolute;
	border-bottom: 7px solid #16d;
	width: 249px;
	margin-left: 45px;
	height: 50px;
	box-sizing: border-box;
	transition: all 300ms ease-in-out;
}

.submittedWordContainer.published .votingBar2 {
	border-bottom-right-radius: 10px;
}

img {
	width: 20px;
	float: right;
	position: relative;
	bottom: 30px;
	left: 7px;
}

input {
	border: none;
	outline: none;
	width: 100%;
	text-align: center;
	color: black;
	background-color: #fff;
}