html {
	background-color: #135;
}

button {
	border: 1px solid #f84;
	background-color: #135;
	border-radius: 2px;
	width: 127px;
	padding: 10px;
	color: #f84;
	transition: all 200ms ease-in-out;
	box-shadow: 0 0 4px rgba(0,0,0,.14),
				2px 2px 8px rgba(0,0,0,.14);
}

.saveContainer {
	padding-left: 150px;
	margin-top: 30px;
}



button.ready {
	background-color: #f84;
	color: white;
}

button.ready:hover {
	background-color: #16d;
	border: 1px solid #16d;
}

.wordStream {
	margin: 300px auto;
	display: flex;
	align-items: center;
	height: 200px;
	width: 50%;
	float: left;

}

.word {
	margin:20px 35px 0;
	padding: 10px 25px;
	background-color:#f84;
	color: white;
	border-radius:2px;
	border:1px solid #f84;
	box-shadow: 0 0 4px rgba(0,0,0,.14),
				2px 2px 8px rgba(0,0,0,.14);
				/*0 -4px 8px rgba(0,0,0,.28);*/
}


.nextWordContainer {
	display: flex;
	justify-content: space-between;
	padding-right:20px;
	margin-bottom: 30px;
}
.nextWord {
	/*margin:0 35px;*/
	color: white;
	background-color: #135;
	padding: 10px;
	width: 127px;
	box-sizing: border-box;
	/*height: 40px;*/
	border:1px solid #f84;
	border-radius: 2px;
	transition: all 200ms ease-in-out;
	box-shadow: 0 0 4px rgba(0,0,0,.14),
				2px 2px 8px rgba(0,0,0,.14);
				/*0 -4px 8px rgba(0,0,0,.28);*/
}


.submittedWords {
	float: left;
	margin:100px 0;
	margin-left: -20px;
	width: 300px;
	border-right: 4px dashed #16d;
	box-shadow: 0 0 4px rgba(0,0,0,.01);
}

.submittedWordContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.submittedWordContainer:hover > .submittedWord {
	background-color: #f84;
	color: white;
	transition: none;
}

.progressBar {
	/*width: 93px important!;*/
	/*background-color: #249;*/
	/*background: linear-gradient(to right, white, #249);*/
	height: 4px;
	border: 2px dashed #f84;
	box-sizing: border-box;
	box-shadow: 0 0 4px rgba(0,0,0,.01);
	transition: width 200ms ease-out;
}

.submittedWordContainer.published .progressBar {
	border: 2px solid #16d;
}

.submittedWordContainer.published .submittedWord {
	background-color: #f84;
	color: white;
}


.submittedWord {
	color: #f84;
	margin:5px 0;
	padding: 10px 25px;
	width: 75px;
	height: 20px;
	border:1px solid #f84;
	border-radius: 2px;
	text-align: center;
	cursor:pointer;
	transition: all 200ms ease-out;

	box-shadow: 0 0 4px rgba(0,0,0,.14),
				2px 2px 8px rgba(0,0,0,.14);
}

.nextWord:hover {
	/*border: 2px solid #249;*/

	/*width: 300px;*/
	/*height: 100px;*/
	/*font-size: 4em;*/
	/*transition: border 200ms ease-in-out;*/
}

img {
	width: 20px;
	float: right;
	position: relative;
	bottom: 30px;
	left: 10px;
}

input {
	border: none;
	outline: none;
	width: 100%;
	text-align: center;
	color: white;
	background-color: #135;
}