/* ==================== Global ==================== */

html {
	background-color: whitesmoke;
}

* {
	font-family: monospace;
}

button {
	border: 1px solid #16d;
	background-color: #16d;
	border-radius:  0 10px 10px 0;
	width: 127px;
	height:45px;
	padding: 0px;
	color: #fff;
	transition: all 200ms ease-in-out;
}

button:hover {
	background-color: #888;
	border: 1px solid #888;
}

input {
	border: none;
	outline: none;
	width: 100%;
	text-align: center;
	color: black;
	background-color: #fff;
}

.link {
	color: #888;
	cursor: pointer;
}

.link:hover {
	color: #16d;
}

/* ==================== Header ==================== */
.header {
	color: #16d;
	font-size:56pt;
	padding-bottom: 30px;
	padding-top:30px;
	background-color: #fff;
	border-bottom: 4px solid #16d;
	margin:auto;
	text-align: center;
}

.subtitle {
	margin-top: 20px;
	font-size: 12pt;
}

.header div {
	font-family: 'Cutive Mono', monospace;
}
.timeBar {
	margin-top: -5px;
	height: 2px;
	width: 75%;
	border-bottom: 3px solid whitesmoke;
	background-color: lightgray;
	border-top: 2px solid white;
	transition: width 1500ms ease-out;
}

/* ==================== Animations ==================== */
.width-appear {
  width:0 !important;
  opacity: 0.01;
}

.width-appear.width-appear-active {
  opacity: 1;
  width: 400px !important;
  transition: all 300ms ease-out;
}

.timeBar-appear {
	width:0 !important;
}

.opacity-enter {
  opacity: 0.01;
}

.opacity-enter.opacity-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.opacity-leave {
  opacity: 1;
}

.opacity-leave.opacity-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.appContainer {
	display: flex;
	justify-content: center;
	padding-top: 70px;
}


.saveContainer {
	padding-left: 150px;
	margin-top: 30px;
}


/* ==================== History ====================*/
.showHistory {
	margin-bottom: 20px;
	margin-left: 40px;
}

.wordStreamInner {
	padding-left: 40px;	
}

.word {
	width: 100%;
	line-height: 30px;
	text-align: left;
	padding: 10px 20px;
	height: 30px;
	background-color:#fff;
	color: black;
	border-radius: 10px 0 0 10px;
}

.publishedWordContainer {
	display: flex;
	margin:0 0 10px;
	border-radius: 10px;
}



/* ==================== Word submission ==================== */
.nextWordContainer.save button {
	border-radius: 10px;
	width:100%;
}

.nextWordContainer.save {
	padding: 0;
	margin-left:0;
	width: unset;
	margin: 10px 0;
}

.showSubmissions {
	margin-left: 40px;
}
.nextWordContainer {
	display: flex;
	justify-content: space-between;
	padding-right:20px;
	margin-bottom: 30px;
	margin: 50px 0 10px;
	width: 460px;
	padding-left: 40px;
}
.nextWord {
	color: black;
	background-color: #fff;
	height: 45px;
	line-height: 45px;
	width: 355px;
	box-sizing: border-box;
	border-radius: 10px;
	transition: all 200ms ease-in-out;
}

/* ==================== Word voting ==================== */
.wordFactory {
	padding-left: 30px;
	margin-top: -60px;
	margin-right: 40px;
}

.submittedWords {
	padding-top: 20px;
	width: 400px;
}

.submittedWordContainer {
	background-color: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
	margin:10px 0;
}

.submittedWord {
	color: black;
	padding: 10px 20px;
	width: 100%;
	height: 23px;
	line-height: 28px;
	
	text-align: center;
	cursor:pointer;
	transition: all 200ms ease-out;
	position: relative;

	border-bottom: 7px solid #fff;
	border-radius: 0 10px 10px 0;
}

.submittedWordContainer:hover > .submittedWord {
	background-color: #16d;
	color: white;
	transition: none;
}

.voteCount {
	padding: 0 15px;
	background-color: #16d;
	color: white;
	height: 50px;
	line-height: 50px;
	width:35px;
	text-align: center;
	border-radius: 10px 0 0 10px;
}

.date {
	padding: 0 15px;
	background-color: white;
	color: #888;
	height: 50px;
	line-height: 50px;
	width:100px;
	text-align: center;
	border-radius: 0 10px 10px 0;
}

.votingBar {
	position: absolute;
	border-bottom: 7px solid #16d;
	width: 249px;
	margin-left: 54px;
	height: 50px;
	box-sizing: border-box;
	transition: all 300ms ease-in-out;
}

.submittedWordContainer.published .votingBar {
	border-bottom-right-radius: 10px;
}

