/* ==================== Global ==================== */
:root {
	--main-color: #16d;
	--secondary-color: #469;
	--lightgray: lightgray;
	--gray: #888;
	--white: white;
	--darkwhite: whitesmoke;
}

html {
	background-color: var(--darkwhite);
}

body {
	margin: 0;
}

* {
	font-family: monospace;
}

button {
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
	width: 127px;
	height:50px;
	padding: 0px;
	color: var(--white);
	transition: all 200ms ease-in-out;
}

button.unsaved {
	border: 1px solid var(--secondary-color);
	background-color: var(--secondary-color);
}

button:hover {
	background-color: var(--main-color);
	border: 1px solid var(--main-color);
}

input {
	border: none;
	outline: none;
	text-align: center;
	color: black;
	flex-grow: 1;
	background-color: var(--white);
}

.red {
	color: red !important;
}

.link {
	color: var(--gray);
	cursor: pointer;
	text-align: center;
}

.link:hover {
	color: var(--main-color);
}

.appContainer {
	display: flex;
	justify-content: center;
	padding-top: 55px;
}

.sectionTitle {
	font-size: 16pt;
	color: var(--main-color);
	text-align: center;
	margin-bottom: 20px;
}

/* ==================== Header ==================== */
.header {
	color: var(--main-color);
	font-size:56pt;
	padding-bottom: 30px;
	padding-top:30px;
	background-color: var(--white);
	border-bottom: 4px solid var(--main-color);
	margin:auto;
	text-align: center;
}

.subtitle {
	margin-top: 20px;
	font-size: 0.3em;
}

.header div {
	font-family: 'Cutive Mono', monospace;
}
.timeBar {
	margin-top: -5px;
	height: 2px;
	border-bottom: 3px solid var(--darkwhite);
	background-color: lightgray;
	border-top: 2px solid white;
	transition: width 1200ms ease-out;
}

.timerText {
	color: var(--main-color);
	text-align: right;
	padding: 3px 15px;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	margin-top: -28px;
}

/* ==================== Animations ==================== */
.width-appear {
  width:0 !important;
  opacity: 0.01;
}

.width-appear.width-appear-active {
  opacity: 1;
  width: 400px !important;
  transition: all 300ms ease-out;
}

.timeBar-appear {
	width:0 !important;
}

.opacity-enter {
  opacity: 0.01;
}

.opacity-enter.opacity-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.opacity-leave {
  opacity: 1;
}

.opacity-leave.opacity-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* ==================== History ====================*/
.showHistory {
	margin-bottom: 20px;
}

.wordStreamInner {
}

.word {
	line-height: 30px;
	text-align: left;
	padding: 10px 15px;
	height: 30px;
	background-color:var(--white);
	color: black;
}

.publishedWordContainer {
	display: flex;
	margin:0 5px 5px;
	border-radius: 10px;
	overflow: hidden;
	justify-content: space-between;
	background-color: var(--white)
}



/* ==================== Word submission ==================== */
.nextWordContainer.save button {
	border-radius: 10px;
	width: 75%;
	margin:auto;
	height:40px;
}

.saveContainer {
	height: 50px;
	margin: 15px 0 25px;
}
.nextWordContainer.save {
	padding: 0;
	margin-left:0;
	width: unset;
	margin: 0;
}

.showSubmissions {
	margin-top:20px;
}

.nextWordBlock {
	margin-top: 40px;
}
.nextWordContainer {
	display: flex;
	justify-content: space-between;
	margin: 20px 5px 10px;
	height: 50px;
	border-radius: 10px;
	overflow: hidden;
}
.nextWord {
	color: black;
	background-color: var(--white);
	height: 50px;
	line-height: 50px;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	transition: all 200ms ease-in-out;
	padding: 0 5px 0 15px;
}

.characterCount {
	color: var(--gray);
	padding: 0 10px;
}

/* ==================== Word voting ==================== */
.wordFactory {
	border-right: 2px solid var(--lightgray);
}

.wordFactoryTitle {
	width: 75%;
	margin:auto;
}

.submittedWords {
	padding-top: 30px;
}

.submittedWordContainer {
	background-color: var(--white);
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
	margin:10px 5px;
	height: 50px;
	overflow: hidden;
}
.submittedWordContainer.pending .voteCount {
	background-color: var(--secondary-color);
}

.submittedWordContainer.pending .votingBar {
	background: linear-gradient(to right, var(--secondary-color) , var(--main-color));
	background-color: var(--secondary-color);
}

.submittedWord {
	color: black;
	flex-grow: 1;
	height: 100%;
	box-sizing: border-box;
	line-height: 43px;	
	text-align: center;
	cursor:pointer;
	transition: background 300ms ease-out;
	border-top: 3px solid lightgray;
	position: relative;
}

.submittedWordContainer:hover > .submittedWord {
	background-color: var(--main-color);
	color: white;
	transition: none;
}

.submittedWordContainer.pending:hover > .submittedWord {
	background: linear-gradient(to right, var(--secondary-color) , var(--main-color));
}

.voteCount {
	background-color: var(--main-color);
	color: white;
	height: 50px;
	line-height: 50px;
	width:60px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 10px 0 0 10px;
	transition: all 300ms ease-in-out;
}

.date {
	padding: 0 15px;
	background-color: white;
	color: var(--gray);
	height: 50px;
	line-height: 50px;
	width:65px;
	text-align: center;
	border-radius: 0 10px 10px 0;
}

.votingBar {
	position: absolute;
	height: 3px;
	background-color: var(--main-color);
	top: -3px;
	transition: all 300ms ease-in-out;
}

.votesSpent {
	background-color: var(--lightgray);
	transition: width 300ms ease-out;
}

.votesRemaining {
	background-color: var(--main-color);
	transition: width 300ms ease-out;
}

.voteBarsContainer {
	border-radius: 15px;
	display: flex;
	overflow: hidden;
	height: 5px;
}

.voteText {
	text-align: center;
	color: gray;
	margin-bottom: 10px;
}


/* ==================== Admin controls ==================== */

.publishButton {
	background-color: var(--white);
	border-bottom: 2px solid var(--lightgray);
	padding: 10px;
	text-align: center;
}

.publishButton button {
	border-radius: 10px;
}

/* mobile */

@media only screen and (max-width: 649px) {
	.header {
		font-size: 40pt;
	}

	.subtitle {
		padding: 0 70px;
	}

	button {
		width: 100px;
	}

	.rightSide {
		width: 100%
	}

	.hidden {
		display: none;
	}
}



@media only screen and (min-width: 650px) {
	.wordFactory {
		padding-right: 20px;
		margin-right: -20px;
	}

	.rightSide {
		width: 50%;
		padding: 0 20px;
	}
}
