/* ==================== Global ==================== */
:root {
    --main-color: #16d;
    --secondary-color: #09f;
    --user-color: #8800ee;
    --lightgray: lightgray;
    --gray: #888;
    --white: white;
    --darkwhite: whitesmoke;
    --border-radius: 8px;
}

/*html {
    background-color: var(--darkwhite);
}*/

body {
    margin: 0;
}

* {
    font-family: 'Quicksand', sans-serif;
}

.doxa1link:hover, .doxa1link.active {
    background-color:#d04;
    color:white;
}
.doxa10link:hover, .doxa10link.active {
    color:orange;
}
.doxa100link:hover, .doxa100link.active {
    color:green;
}
.doxa1000link:hover, .doxa1000link.active {
    color:white;
    background-color: var(--main-color);
}

.red {
    color: red !important;
}



.appContainer {
    display: flex;
    justify-content: center;
    /*max-width: 1000px;*/
    margin: auto;
    min-height:100vh;
}

.sectionTitle {
    font-size: 16pt;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}

.yesterday {
    margin-bottom: 40px;
}

.yesterday .word {
    margin: auto;
    font-size: 1.3em;
}

.sectionSubTitle {
    font-size: 0.7em;
    color: var(--gray);
}

/* ==================== Animations ==================== */
.width-appear {
  width:0 !important;
  opacity: 0.01;
}

.width-appear.width-appear-active {
  opacity: 1;
  width: 400px !important;
  transition: all 300ms ease-out;
}

.timeBar-appear {
    width:0 !important;
}

.opacity-enter {
  opacity: 0.01;
}

.opacity-enter.opacity-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.opacity-leave {
  opacity: 1;
}

.opacity-leave.opacity-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* ==================== Word submission ==================== */
button.save {
    border-radius: var(--border-radius);
    width: 50%;
    margin: 0 5px;
    height:40px;
}

.saveSpaceHolder {
    height: 50px;
    margin: 15px 0 25px;
}

.saveContainer {
    display: flex;
    margin: 0 12.5%;
}

/* ==================== Word voting ==================== */
.submittedWordContainer.pending .voteCount {
    background-color: var(--secondary-color);
}

.submittedWordContainer.pending .votingBar {
    background: linear-gradient(to right, var(--secondary-color) , var(--main-color));
    background-color: var(--secondary-color);
}

.submittedWordContainer.pending:hover > .submittedWord {
    background: linear-gradient(to right, var(--secondary-color) , var(--main-color));
}

/* mobile */

@media only screen and (max-width: 649px) {
    .header {
        font-size: 40pt;
    }

    .subtitle {
        padding: 0 70px;
    }

    button {
        width: 100px;
    }

    .rightSide {
        width: 100%
    }

    .showSubmissions {
        width: 200px;
    }
}

/* tiny mobile */
@media only screen and (max-width: 350px) {
    .publishedWordContainer {
        font-size: 0.9em;
    }
    .word {
        padding: 10px 10px;
    }

    .date {
        padding: 0 15px 0 0;
    }

    .nextWord {
        padding: 0 5px;
    }
}



@media only screen and (min-width: 650px) {
    .wordFactory {
        padding-right: 20px;
        margin-right: -20px;
    }

    .rightSide {
        width: 50%;
        padding: 0 20px;
    }
}